#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.number-pad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}
.zero {
  grid-column-start: 2;
}
